$bg_primary: #000;
$color_primary: #fff;
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  background: $bg_primary;
  width: 300px;
  height: 200px;
  .body {
    color: $color_primary;
    font-size: 20px;
  }
}
